.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-control {
        margin-bottom: 20px;
    }

	.MuiFormControl-root {
		width: 300px;
	}
}
.validator {
	margin-top: 20px;
}

.circular.MuiCircularProgress-root {
	margin-right: 10px;
	color: #fff;
}